.header {
    background-color: var(--dark-green);
    color: var(--light-green);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-text {
    margin: 0;
} 

@media screen and (max-width: 700px) {
  .header-text {
    font-size: 14px;
  }
}

.header-dropdown-btn {
    background-color: var(--light-green);
    color: var(--dark-green);
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    min-width: 130px;
}
  
.header-dropdown {
    position: relative;
}
    
.header-dropdown-content {
    display: none;
    position: absolute; 
    background-color: var(--light-green);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
    cursor: pointer;
}
  
.header-dropdown-content a {
    color: var(--dark-green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
}
  
.header-dropdown-content a:hover {
    background-color: var(--dark-green) ;
    color: var(--light-green);
    border: 3px solid var(--light-green);
}
  
.header-dropdown:hover .header-dropdown-content {
    display: block;
}
  
.header-dropdown-btn:hover{
    background-color: var(--dark-green);
    color: var(--light-green);
    border: 3px solid var(--light-green);
}

.img {
    max-width: 80px;
}


