/* var(--dark-green);
 var(--light-green); */

.footer {
    background-color: var(--dark-green);
    color: var(--light-green);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
} 

.footer-link {
    color: var(--light-green);
    text-decoration: underline;
}

.footer-link:hover {
    color: var(--light-green);
    text-decoration: none;
}