/* var(--dark-green);
 var(--light-green); */

.footer {
    /* background-color: #379683; */
    background-color: var(--dark-green);
    color: black;
    height: 100px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    font-size: 16px;
} 

.footer-link {
    color: black;
}

.footer-link:hover {
    cursor: pointer;
    color: var(--light-green);
    text-decoration: none;
}