    <!-- <div class="search-div">
        <label for="search">Search</label>
        <input type="text" id="search" [(ngModel)]="pattern">
    </div> -->
    
    <app-search></app-search>
    <div class="table-div" (scroll)="onScroll()">
        <table>
            <tr *ngFor="let user of users | filter: pattern">
            <!-- <tr *ngFor="let user of users"> -->
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>  
        </table>
    </div>
    
