td {
    border: 1px solid #379683;
    padding: 10px;
    font-size: 16px;
}

.table {
    width: 800px;
    height: 210px;
    overflow-y: scroll;
}

table {
    width: 100%;
}

div {
    border: 2px solid #379683;
}