.search {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    font-size: 20px;
}

.search-input  {
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid var(--dark-green);
}

.search-label {
    margin: 0;
}