<div class="user-details">
    <table class="details-table">
        <tr>
            <td>first and last name:</td>
            <td class="user-data">{{ user.name }}</td>
        <tr>
        <tr>
            <td>username:</td>
            <td class="user-data">{{ user.username }}</td>
        <tr>  
        <tr>
            <td>company:</td>
            <td class="user-data">{{ user.company }}</td>
        <tr> 
        <tr>
            <td>phone:</td>
            <td class="user-data">{{ user.phone }}</td>
        <tr>  
        <tr>
            <td>email:</td>
            <td class="user-data">{{ user.email }}</td>
        <tr>
        <tr>
            <td>website:</td>
            <td class="user-data">{{ user.website }}</td>
        <tr>   
    </table>
        
    <button (click)="goBack()" [innerHTML]="'goBack' | translate" class="go-back-button">Go back</button>
</div>



