.user-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.user-details td{
    border: 2px solid #379683;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.user-details table{
    border: 3px solid #379683;
}

.user-data{
    font-weight: bold;
}

.go-back-button  {
    border-radius: 3px;
    border: 3px solid #379683;;
    background-color: #EDF5E1;
    color: #379683;;
    font-size: 20px;
    width: 170px;
    height: 50px;
    font-weight: bold;
}

.go-back-button:hover {
    background-color: #379683;
    color: #EDF5E1;
    cursor: pointer;
}



