.user-details {
    text-align: center;
}

.user-details td {
    border: 2px solid var(--dark-green);
    padding: 15px;
    font-size: 17px;
    text-align: center;
}

.user-details table {
    border: 3px solid var(--dark-green);
    margin: 0 auto 40px auto;
}

.user-details td a {
    text-decoration: underline;
}

.user-details td a:hover {
    color: var(--dark-green); 
    text-decoration: none;
}

.go-back-button {
    border-radius: 3px;
    background-color: var(--dark-green);
    color: var(--light-green);
    font-size: 20px;
    width: 170px;
    height: 50px;
    font-weight: bold;
}

.go-back-button:hover {
    border: 3px solid var(--dark-green);
    background-color: var(--light-green);
    color: var(--dark-green);
    cursor: pointer;
}

.error {
    font-size: 16px;
    color: var(--dark-green);
    margin-top: 40px;
    margin-bottom: 40px;
}


