<div class="user-details">
    <table *ngIf="user" class="details-table">
        <tr>
            <td>first and last name:</td>
            <td class="user-data"><strong>{{ user.name }}</strong></td>
        <tr>
        <tr>
            <td>username:</td>
            <td class="user-data"><strong>{{ user.username }}</strong></td>
        <tr>  
        <tr>
            <td>company:</td>
            <td class="user-data"><strong>{{ user.company.name }}</strong></td>
        <tr> 
        <tr>
            <td>phone:</td>
            <td class="user-data"><a [href]="'tel:'+user.phone">{{ user.phone }}</a></td>
        <tr>  
        <tr>
            <td>email:</td>
            <td class="user-data"><a [href]="'mailto:'+user.email">{{ user.email }}</a></td>
        <tr>
        <tr>
            <td>website:</td>
            <td class="user-data"><a [href] = "'https://www.' + user.website" target="_blank" id="website">{{ user.website }}</a></td>
        <tr>   
    </table>
    <div *ngIf="notFound" class="error">
        <p><strong>Sorry, user has not been found</strong></p>
        <p>{{ this.errorMessage }}</p>
    </div>    
    <button (click)="goBack()" [innerHTML]="'goBack' | translate" class="go-back-button">Go back</button>
</div>



