<div class="container flex-container">
    <div class="header">
      <div>
        <app-header></app-header>
      </div>
      <!-- <div class="dropdown">
         <!-- <button (click)="useLanguage('en')">English</button>
         <button (click)="useLanguage('it')">Italian</button> -->
         <!-- <button class="dropbtn">Language</button>
          <div class="dropdown-content">
            <a href="#">English</a>
            <a href="#">Italian</a>
          </div>
      </div>  -->
    </div>
  <div class="main">
      <app-main></app-main>
  </div>
  <div class="footer">
        <app-footer></app-footer>
  </div>
    
