* {
    box-sizing: border-box;
    --dark-green: #008000;
    --light-green: #EDF5E1;
}

/* .button {
    background-color: rebeccapurple;
} */

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

.app-main {
    background-color: var(--light-green);
    color: var(--dark-green);
    flex: 1;
    width:100%;
    padding:50px 20px;
}


