* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

.app-main {
    background-color: #EDF5E1;
    color: #379683;
    flex: 1;
    width:100%;
    padding:70px 20px;
}


