/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    --dark-green: #008000;
    --light-green: #EDF5E1;
}

.button {
    border: 3px solid var(--dark-green);
    background-color: var(--dark-green);
    color: var(--light-green);
    border-radius: 3px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    transition: all .5s ease;
}

.button:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
    cursor: pointer;
}

.button-light {
    border: 3px solid var(--light-green);
    background-color: var(--light-green);
    color: var(--dark-green);
}

.button-light:hover {
    background-color: var(--dark-green);
    color: var(--light-green);
}